body{
    margin: 0;
}
.title{
    color: whitesmoke;
    border-bottom: 0.1rem solid rgba(250, 247, 225, 0.5);
    font-weight: 100;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.form-spec{
    width: 35em;
}
.col-form{
    padding: 0.45rem !important;
    margin-top: 1rem ;
}
.all-app{
    margin-left: 0.5rem !important;
}
.input-spec{
    width: 13.8rem !important;
}
.input-date{
    height: calc(1.5em + .75rem + 2px);
    border-radius: .25rem;
}
.app{
    background-color: rgb(46, 45, 45);
    min-width: 40rem;
    min-height: 30rem;
    border-radius: 2rem;
}
.new{
    margin-top: 5rem;
}
.list {
    padding: 0;
    list-style: none;
    width: 100%;
    color: whitesmoke;
    flex-direction: column !important;
}

.task{
    margin: 1.5rem;
    padding: 0.3rem 0;
    background-color: rgba(0, 0, 0, 0.253);
    align-content: center;
    display: flex;
    border-radius: 0.4rem;
}

.content{
    margin: auto !important;
}

.button-done{
    margin-right: 1rem;
}

.done{
    text-decoration: line-through;
    background-color: transparent;
}